* {
  margin: 0%;
  box-sizing: inherit;
}

.App {
  font-family: sans-serif;
  background-color: rgb(63, 52, 78);
}

.navbar {
  display: flex;
  padding: 15px;
  background-image: linear-gradient(to right, rgb(50, 68, 95), rgb(34, 34, 30));
}

.navbar .head {
  font-family: "Dongle", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  color: white;
  margin-left: 5px;
}

.newPost-btn {
  border-radius: 6px;
  background-color: rgb(62, 233, 167);
  font-weight: bold;
  font-size: medium;
  margin: 0px 10px;
  cursor: pointer;
}

.searchbar {
  flex: 1%;
  border-radius: 6px;
  background-color: rgb(241, 241, 241);
  margin: 0px 20rem;
  font-size: medium;
}

.searchbar::placeholder {
  color: black;
  padding-left: 5px;
}

.signIn-btn {
  border-radius: 6px;
  background-color: rgb(62, 233, 167);
  font-weight: bold;
  font-size: medium;
  margin-right: 20px;
  padding: 0px 10px;
  cursor: pointer;
}

.signUp-btn {
  border-radius: 6px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: medium;
  margin: 0px 10px;
  cursor: pointer;
}

.img-gallery {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  margin: 3rem 8rem;
  text-align: center;
  
}

.img-card {
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 12px;
  width: 16vw;
  justify-content: center;
  background-color: #979494;
  cursor: pointer;
  overflow: auto;
}

h2 {
  padding: 0px;
  margin: 0px;
}

/* .card-body {
  width: 100%;
} */

.img {
  width: 100%;
  height: 90%;
}

.counter-btn {
  padding: 0.2rem;
  display: flex;
  display: inline-flex;
  cursor: pointer;
  font-size: large;
}

.count-div {
  padding: 0.4rem;
  user-select: none;
}

.counter-btn:hover {
  opacity: 0.8;
}

.popup-box {
  position: fixed;
  background: #00000075;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 60%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: rgba(230, 232, 236, 0.972);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(20% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.title {
  font-size: medium;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 0px;
}

.signIn {
  text-align: center;
  justify-content: center;
}

.signIn .buttons {
  display: flex;
  flex-wrap: center;
  padding: 15px;
  margin: 1px 18vw;
  column-gap: 10px;
}

.btn {
  font-size: xx-large;
  font-weight: bolder;
  padding: 7px;
  background-color: rgba(56, 64, 66, 0.568);
  border-radius: 5px;
}

.btn-f {
  font-size: xx-large;
  font-weight: bolder;
  padding: 7px 24px;
  background-color: rgba(56, 64, 66, 0.568);
  border-radius: 5px;
}

.btn-g {
  font-size: xx-large;
  font-weight: bolder;
  padding: 7px 17px;
  background-color: rgba(56, 64, 66, 0.568);
  border-radius: 5px;
}

.btn-y {
  font-size: xx-large;
  font-weight: bolder;
  padding: 7px 14px;
  background-color: rgba(56, 64, 66, 0.568);
  border-radius: 5px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 1vw 15vw;
}

.input-1 {
  font-size: large;
  font-weight: bold;
  padding: 8px 12px;
  margin: 2px;
  background-color: rgba(56, 64, 66, 0.568);
  border: 2px solid black;
  border-radius: 5px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.603);
}

.nextBtn {
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  padding: 6px 9px;
  background-color: mediumslateblue;
  justify-content: flex-end;
}

/*DROPDOWN button CSS*/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 9px 20px;
  margin: 5px 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 7.3rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #393741;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #8275b5}

.dropdown:hover .dropdown-content {
  display: block;
  right: 0;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* FOOTER component CSS */
.footer-flexCont {
  display: flex;
  flex-direction: right;
  background-color: rgb(51, 58, 78);
  border: 2px solid black;
  padding: 10px;
}

.footer-flexItems {
  flex: 7%;
  
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

